fastapi
uvicorn[standard]
yt-dlp
langchain
langchain-groq
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-core
sentence-transformers
faiss-cpu
python-dotenv
youtube-transcript-api
